/* The navigation bar */
.navbar {
  z-index: 289;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: rgb(0, 0, 0);
  color: #ffffff;
  font-weight: bold;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

/* pour le telephone */
.hidden-xs{
  margin-top: 10px;
  padding-top: 10px;
}

@media screen and (max-width: 768px) {
#notmobile {display: none;}
}